/* #1821E8 */
ul {
  list-style-type: none;
  display: flex;
}

/* NAVBAR */

.nav {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav--content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav > div {
  width:  40%;
}

.nav--item {
  margin: 5px;
  transition: 400ms all;
  flex: 1;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.nav--item > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav--item:hover {
  cursor: pointer;
  background-color: #6d73e9;
  border-radius: 5px;
  color: #fff;
}

.nav--division {
  width: 100%;
  height: 2px;
  background-color: #6d73e9;
}

.division {
  height: 60%;
  width: 2px;
  background-color: #6d73e9;
}

/* NAVBAR */

/* HOME */

.main {
  padding: 4rem;
}

.main--text {
  font-weight: 700;
  padding: 0rem 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main--subtext {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.main--button {
  height: 3rem;
  width: 10rem;
  background-color: #fafafa;
  border: 2px solid #6d73e9;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: 400ms all;
}

.main--button:hover {
  cursor: pointer;
  background-color: #6d73e9;
  color: #fff;
}

/* HOME */